#menuArea{
    position: absolute;
    width: 100%;
    height: 25px;
    z-index: 100;
    top:0px;
}

#menuArea ul {
    margin: 0px;
    padding: 0px;
}

#menuArea li {
    list-style: none;
}

#menuArea a {
    font-size: 12px;
    text-decoration: none;
    color: #000000;    
}

#menuArea > ul > li {
    position: relative;
    float: left;
    width: 25%;
    margin: 0;
    box-sizing: border-box;
    border-right: solid 1px DarkGray;
    border-bottom: solid 1px DarkGray;
}

#menuArea > ul > li:last-child {
    border-right: none;
}

#menuArea > ul > li > a {
    display: block;
    height: 22px;
    background-color: #FFFFFF;
    line-height: 22px;
    text-align: center;
}

#menuArea li.color-blue {
    border-top: 3px solid #3FC6F3;
}

#menuArea li.color-red {
    border-top: 3px solid #FF625F;
}

#menuArea li.color-yellow {
    border-top: 3px solid #FEBD01;
}

#menuArea li.color-green {
    border-top: 3px solid #46D7C6;
}

#menuArea ul.subs {
    position: absolute;
    top: 100%;
    width: 100%;
    left: -1px;
    background-color: #FFFFFF;
    border-left: solid 1px DarkGray ;
    border-right: solid 1px DarkGray ;
    border-bottom: solid 1px DarkGray ;
}

#menuArea > ul > li:first-child ul.subs {
    left: 0px;
    border-left: none;
}

#menuArea > ul > li:last-child ul.subs {
    border-right: none;
}

#menuArea ul.subs li {
    border-top: solid 1px DarkGray ;
}

#menuArea ul.subs li a {
    display: block;
    height: 22px;
    background-color: #FFFFFF;
    line-height: 22px;
    text-indent: 3px;
}

#menuArea li.color-blue ul.subs li a:hover {
    background-color: #3FC6F3;
    color: #FFFFFF;
}

#menuArea li.color-red ul.subs li a:hover {
    background-color: #FF625F;
    color: #FFFFFF;
}

#menuArea li.color-yellow ul.subs li a:hover {
    background-color: #FEBD01;
    color: #FFFFFF;
}

#menuArea li.color-green ul.subs li a:hover {
    background-color: #46D7C6;
    color: #FFFFFF;
}